html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

** {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .header {
  width: 100%;
  height: 1.06667rem;
  display: flex;
  justify-content: space-between;
}

.wrapper .header span {
  line-height: 1.06667rem;
}

.wrapper .header span i {
  font-size: 0.48rem;
}

.wrapper .main {
  flex: 1;
  overflow: hidden;
}

.wrapper .main .list {
  display: flex;
  background: red;
  height: 1.01333rem;
}

.wrapper .main .list ul {
  display: flex;
  flex-shrink: 0;
  line-height: 1.01333rem;
}

.wrapper .main .list ul li {
  margin-left: 0.26667rem;
  color: #fff;
  font-size: 0.37333rem;
}

.wrapper .main .swiper-slide {
  width: 100%;
  height: 5.86667rem;
}

.wrapper .main .nav {
  width: 100%;
  height: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .main .nav .box {
  display: flex;
  justify-content: space-between;
  height: 1.01333rem;
}

.wrapper .main .nav .box .box-l p span {
  color: red;
  border: 0.02667rem solid red;
}

.wrapper .main .all {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .main .all dl {
  display: flex;
  margin-top: 0.53333rem;
}

.wrapper .main .all dl dt img {
  width: 1.33333rem;
  height: 1.33333rem;
}

.wrapper .main .all dl dd {
  margin-left: 0.8rem;
}

.wrapper .main .all dl dd p {
  font-size: 0.37333rem;
}

.wrapper .main .downPull,
.wrapper .main .upPull {
  width: 100%;
  height: 1.06667rem;
  background: #f90;
}

.wrapper .main .downPull .downPull,
.wrapper .main .upPull .downPull {
  top: 1.06667rem;
}
